
.cardContainer{
    background-color: white;
    height:100px;
    margin:10px;
    cursor: grab;
    opacity: 1;
    width:220px; 
}

.cardTitle{
  color:black;
  margin:8px 0px 0px 5px;
  color:white;
}

.cardDescription{
  font-family: sans-serif;
  font-size: small;
  padding:5px 0px 0px 8px;
}

.cardFooter{
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.cardImage{
  width:20px;
  height:20px;
  border-radius: 45%;
  margin-right:10px;
}
